<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
</head>

<body>

  {{- for chart in charts }}
  <div>
    <div id="{ chart.id }"></div>
    <script>
      let trace{ chart.id } = \{"type": "scatter", "mode": "lines", "fill": "tozeroy"};
      trace{ chart.id }.x = { chart.xs };
      trace{ chart.id }.y = { chart.ys };

      const chart{ chart.id } = document.getElementById("{ chart.id }");
      Plotly.newPlot(chart{ chart.id }, [trace{ chart.id }], chartConfig);
    </script>
  </div>
  {{- endfor }}

  <script>
    let chartConfig = \{
        "xaxis": \{"type": "linear", "mirror": false, "showgrid": false, "showline": false, "zeroline": false, "autorange": true, "showticklabels": false},
        "yaxis": \{"type": "linear", "mirror": false, "showgrid": false, "showline": false, "zeroline": false, "autorange": true, "showticklabels": false},
        "width": 800,
        "height": 400,
        "showlegend": false,
        "autosize": false,
        "hovermode": "closest"
      };
  </script>

</body>
</html>
