<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
</head>

<body>
    <h2>MongoDB Full Time Diagnostic Data Capture<h2>

    <ul>
      {{- for view in views }}
      <li>
        <a href="./views/{ view.file_name }">{ view.name }</a>
      </li>
      {{- endfor }}
    </ul>

</body>
</html>
