<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
</head>

<body>
  <script>
    let chartConfig = \{
      "xaxis": \{"type": "date", "autorange": true },
      "yaxis": \{"type": "linear", "autorange": true },
      "width": 800,
      "height": 400,
      "showlegend": false,
      "autosize": false,
      "hovermode": "closest"
    };
  </script>

  {{- for chart in charts }}
  <div>
    <details>
      <summary>{ chart.name }</summary>
      <div id="{ chart.id }"></div>
      <script src="{ chart.series_path }"> </script>
      <script>
        let trace{chart.id} = \{"type": "scatter", "mode": "lines", "fill": "tozeroy"};
        trace{chart.id}.x = {chart.series.xs};
        trace{chart.id}.y = {chart.series.ys};

        const chart{chart.id} = document.getElementById("{ chart.id }");
        Plotly.newPlot(chart{chart.id}, [trace{chart.id}], chartConfig);
      </script>
    </details>
  </div>
  {{- endfor }}
</body>

</html>
